In [4]:
import numpy as np
import pandas as pd

In [6]:
data=pd.read_csv(r"C:\Users\user\Downloads\all_grains_data.csv")

In [7]:
#1. Which commodity was having the highest opening price for the day
g=data.groupby("commodity")

In [8]:
g[["open","date"]].max()

                 open        date
commodity
Corn           830.25  2023-09-15
KC HRW Wheat  1370.50  2023-09-15
Oat            803.00  2023-09-15
Rough Rice    2435.00  2023-09-15
Soybean       1778.50  2023-09-15
Soybean Oil     90.50  2023-09-15

In [9]:
#2. Which commodity price reached maximum during the trading session.
g[["open","close"]].max()

                 open        close
commodity
Corn           830.25   831.250000
KC HRW Wheat  1370.50  1367.750000
Oat            803.00   807.000000
Rough Rice    2435.00  2446.000000
Soybean       1778.50  1771.000000
Soybean Oil     90.50    90.599998

In [12]:
data.loc[data["commodity"]=="corn",["open","close"]].max()

open    NaN
close   NaN
dtype: float64

In [14]:
data.loc[data["commodity"]=="Oat",["open","close"]].max()

open     803.0
close    807.0
dtype: float64

In [15]:
data.loc[data["commodity"]=="KC HRW Wheat",["open","close"]].max()

open     1370.50
close    1367.75
dtype: float64

In [16]:
data.loc[data["commodity"]=="Rough Rice",["open","close"]].max()

open     2435.0
close    2446.0
dtype: float64

In [20]:
data.loc[data["commodity"]=="Soybean Oil",["open","close"]].max()

open     90.500000
close    90.599998
dtype: float64

In [21]:
data.loc[data["commodity"]=="Soybean",["open","close"]].max()

open     1778.5
close    1771.0
dtype: float64

In [23]:
#3. What is the average Market's opening price for the oat in 2010
data.loc[data["commodity"]=="Oat","open"].mean()

278.8970206131994

In [26]:
g=data.groupby("commodity")

In [27]:
g["open"].mean()

commodity
Corn             409.282059
KC HRW Wheat     563.985475
Oat              278.897021
Rough Rice      1143.643069
Soybean          997.618605
Soybean Oil       36.837337
Name: open, dtype: float64

In [28]:
#4. What is the maximum and minimum Number of contacts traded during the 2009
data.loc[data["open"]==data["date"].max()].max()

ticker       NaN
commodity    NaN
date         NaN
open         NaN
high         NaN
low          NaN
close        NaN
volume       NaN
dtype: object

In [29]:
g=data.groupby("ticker")

In [30]:
g["data"==pd.date_range("1-1-2009","1-1-2010",freq="d")].max()

KeyError: 'Columns not found: False'

In [31]:
g["date"].min()

ticker
KE=F    2000-09-21
ZC=F    2000-07-17
ZL=F    2000-03-15
ZO=F    2000-01-03
ZR=F    2000-01-03
ZS=F    2000-09-15
Name: date, dtype: object

In [32]:
data.loc[data["open"]==data["date"]].min()

ticker       NaN
commodity    NaN
date         NaN
open         NaN
high         NaN
low          NaN
close        NaN
volume       NaN
dtype: object

In [33]:
#5. Which year have maximum and minimum Number of contracts traded
data.loc[data["date"]==data["open"],["date"]].max()

date    NaN
dtype: object

In [34]:
data.loc[data["date"]==data["open"],["date"]].min()

date    NaN
dtype: object

In [35]:
g=data.groupby("ticker")

In [36]:
g["ticker"].count()

ticker
KE=F    5783
ZC=F    5794
ZL=F    5810
ZO=F    5773
ZR=F    5937
ZS=F    5786
Name: ticker, dtype: int64

In [37]:
(g["ticker"].count()).max()

5937

In [38]:
(g["ticker"].count()).min()

5773

In [39]:
#6. Which commodity have the average lowest opening price around 2001 to 2005
g=data.groupby("commodity")

In [40]:
g["open"].mean()

commodity
Corn             409.282059
KC HRW Wheat     563.985475
Oat              278.897021
Rough Rice      1143.643069
Soybean          997.618605
Soybean Oil       36.837337
Name: open, dtype: float64

In [41]:
(g["open"].mean()).min()

36.8373373422278

In [43]:
#7. Which commodity have the best average market's closing price
g=data.groupby("commodity")

In [44]:
g["close"].mean()

commodity
Corn             409.404772
KC HRW Wheat     563.693282
Oat              278.657674
Rough Rice      1143.607925
Soybean          998.015728
Soybean Oil       36.820361
Name: close, dtype: float64

In [45]:
(g["close"].mean()).max()

1143.607924888165

In [46]:
#8. Which year corn have the highest and lowest Number of contracts traded
data.loc[data["high"]==data["high"].max(),["date","high"]]

             date    high
19437  2008-04-24  2468.5

In [47]:
data.loc[data["low"]==data["low"].max(),["date","low"]]

             date     low
19436  2008-04-23  2400.0